#root {
  width: 100%;
  margin: 0 auto;
}

header {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100px;
  align-items: center;
  display: flex;
  border-bottom: 2px solid beige;

  nav{
    width: 100%;

    ul{
      width: 100%;
      list-style: none;
      display: flex;
      gap: 10%;
  
      a {
        margin-left: 40%;
        color: beige;
        font-size: larger;
      }
    }
  }
}


main{
  margin-top: 100px;
  flex: 1;
}
